@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: url("../images/bg-pattern-desktop.svg") center center no-repeat;
  background-size: cover;
}

.header {
  grid-area: 1/1/2/2;
  margin: 50px 10vw 0;
}

.main {
  grid-area: 2/1/3/2;
  margin: 10% 10vw;
}

.text {
  max-width: 350px;
}
.text h1 {
  font-size: 4rem;
  letter-spacing: 1rem;
  color: hsl(0deg, 6%, 24%);
  text-transform: uppercase;
  margin: 120px 0 30px;
}
.text h1 span {
  color: hsl(0deg, 36%, 70%);
  font-weight: 300;
}
.text p {
  color: hsl(0deg, 36%, 70%);
  margin-bottom: 30px;
  line-height: 28px;
}

form {
  display: flex;
  position: relative;
  width: 100%;
}
form label {
  border-width: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 0 !important;
}
form input {
  padding: 16px 20px;
  border: 1px solid hsla(0deg, 36%, 70%, 0.7);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: hsl(0deg, 6%, 24%);
  width: 350px;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  outline: none;
  font-size: 16px;
}
form input::placeholder {
  color: hsla(0deg, 36%, 70%, 0.7);
}
form button {
  padding: 13px 35px 10px;
  background: linear-gradient(135deg, hsl(0deg, 80%, 86%), hsl(0deg, 74%, 74%));
  background-position: center;
  background-size: cover;
  border: 0;
  border-radius: 30px;
  box-shadow: 0 0 10px 5px hsla(0deg, 36%, 70%, 0.4);
  position: relative;
  z-index: 2;
  left: -60px;
}
form button:hover {
  cursor: pointer;
  background: linear-gradient(135deg, hsl(0deg, 0%, 100%) -20%, hsl(0deg, 80%, 86%) 50%);
}
form .error-message {
  display: none;
  position: absolute;
  padding-top: 60px;
  padding-left: 21px;
  width: 100%;
  color: hsl(0deg, 93%, 68%);
}
form.is-validated input:invalid {
  border: 1.5px solid hsl(0deg, 93%, 68%);
}
form.is-validated .error-message {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
form.is-validated .error-message::before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../icons/icon-error.svg");
  margin-top: -46px;
  margin-right: 13vw;
}

.cover {
  grid-area: 1/2/3/3;
  background: url("../images/hero-desktop.png") center center no-repeat;
  height: 100%;
  background-size: cover;
  z-index: -1;
}

@media screen and (max-width: 950px) {
  .text {
    text-align: center;
  }
  .text h1 {
    font-size: 3.2rem;
  }
  form button {
    padding: 13px 25px 10px;
    left: -38px;
  }
}
@media screen and (max-width: 912px) {
  body {
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 130px 1fr 1fr;
    grid-template-areas: "header" "cover" "main";
  }
  .header {
    grid-area: header;
    margin: 50px 10vw;
  }
  .main {
    grid-area: main;
    margin: auto;
  }
  .cover {
    grid-area: cover;
    background: url("../images/hero-mobile.png") center no-repeat;
    background-size: cover;
    min-height: 200px;
  }
  .text h1 {
    font-size: 2.5rem;
    margin-top: 40px;
  }
  form {
    width: 350px;
    padding-bottom: 50px;
  }
  form button {
    padding: 16px 31px 12px;
    left: -30px;
  }
  form.is-validated .error-message::before {
    margin-right: 125px;
  }
}

/*# sourceMappingURL=styles.css.map */
